<% provide(:title, 'ðŸššä½œæ¥­å†…å®¹ï¾ï½½ï¾€ï½°') %>
<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-10">
        <h1>è¾²ä½œç‰©ðŸš›</h1>
        <div class="row">
            <div class="col-md-6">
                <%= render 'form' %>
                <a href=<%=good_masters_path %> class="btn btn-outline-secondary btn-block">ðŸ”™ã‚­ãƒ£ãƒ³ã‚»ãƒ«</a>
            </div>
        </div>
    </div>
</div>