<div class="row">
    <div class="col-12">
        <% if @sample64 != nil %>
        <%= @sample64 %>
        <img src=<%=@sample64%> />
        <%= image_tag @mujin.image %>
        <% end %>
    </div>
</div>