@import '~bootstrap/scss/bootstrap';
header {
    font-family: "HGP行書体";
    margin-bottom: 10px;
    #application_title{
      font-size: 21px;
      letter-spacing: -2px;
      margin-top: 5;
    }
    #kalpataru{
      float: left;
      margin-top: -5px;
      margin-bottom: -20px;
      margin-right: 10px;
      margin-left: 10px;
    }
    #nav-item{
      padding-right: 10px;
    }
  }
  .carousel .caroulel-item{
      height: 500px;
  }
  .carousel-item img{
     height: 500px;
  }

  footer{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-top: 1px solid $black;
    small{
      float: left;
      margin-left: 10px;
      margin-top: 5px;
      #sbs_logo{
        margin-top: -5px;
        margin-left: 5px;
      }
    }
    ul{
       float: right;
       list-style: none;
       margin-right: 20px;
       li{
          float: left;
          margin-left: 15px;
       }
    }
  }