<% provide(:title, "ðŸšœä½œæ¥­å†…å®¹ï¾ï½½ï¾€ï½°") %>

<div class="row">
    <%= render 'layouts/sidemenu' %>
    <div class="col-3 pr-0">
        <%= @job_master.content %>,<%= @job_master.order %>
    </div>
</div>