<footer class="footer">
    <small>
        The <a href="https://sbs-office-tools.herokuapp.com">E-I-E-I-O🍁Project</a>
        by <%= image_tag("logos/sbs_logo.png", alt: "sbs logo", size: "80x20", id:"sbs_logo")%> 次世代ｿﾘｭｰｼｮﾝ開発部🍃
    </small>
    <nav>
        <ul>
            <small>
                <li><a href="https://www.at-s.com">📰ニュース</a></li>
            </small>
        </ul>
    </nav>
</footer>