<header class="navbar navbar-default navbar-fixed-top shadow pt-1 rounded">
    <div class="container">
        <a class="navbar-brand" href="<%=root_path%>" id="application-title">
            <%= image_tag("logos/jisedailogo.png", alt: "kalpataru", size: "45x40", id:"kalpataru") %>f-Pulse
        </a>
    </div>
</header>