<aside class="col-2">
    <div class="row mt-0 mb-0">
        <%= link_to "ðŸ’³ ã‚¯ãƒ¬ãƒ‡ãƒ³ã‚·ãƒ£ãƒ«", showqrcode_path, class: "btn btn-outline-secondary btn-block btn-sm text-left" %> 
    </div>
    <div class="row mt-0 mb-0">
        <%= link_to "ðŸŒ± è¾²æ¥­", farm_management_path, class: "btn btn-outline-secondary btn-block btn-sm text-left" %> 
    </div>
    <div class="row mt-0 mb-0">
        <%= link_to "ðŸŒª ç½å®³", "#", class: "btn btn-outline-secondary btn-block btn-sm text-left" %>   
    </div>
    <div class="row mt-0 mb-0">
        <%= link_to "ðŸ«€ ä»‹è­·", "#", class: "btn btn-outline-secondary btn-block btn-sm text-left" %>   
    </div>

</aside>