<aside class="col-2">
    <div class="row mt-0 mb-0">
        <%= link_to "💳 Credential", "#", class: "btn btn-outline-secondary btn-block btn-sm text-left" %> 
    </div>
    <div class="row mt-0 mb-0">
        <%= link_to "🌱 Agriculture", "#", class: "btn btn-outline-secondary btn-block btn-sm text-left" %> 
    </div>
    <div class="row mt-0 mb-0">
        <%= link_to "🌪 Disaster Prevention", "#", class: "btn btn-outline-secondary btn-block btn-sm text-left" %>   
    </div>
    <div class="row mt-0 mb-0">
        <%= link_to "🫀 Health Care", "#", class: "btn btn-outline-secondary btn-block btn-sm text-left" %>   
    </div>
</aside>